<main class="min-h-screen w-full">
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <app-modal-create-alumno></app-modal-create-alumno>
      </div>
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-cta"
      >
        <ul
          class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
        >
          <li>
            <div class="max-w-sm mx-auto">
              <label
                for="grades"
                class="block aling-auto mb-2 font-medium text-white text-center"
                >Filtrar por grados</label
              >
              <select
                id="grades"
                [formControl]="gradeFilter"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              >
                <option value="0" selected>Todos</option>
                @for (grade of grades; track $index) {
                  <option value="{{ grade }}">{{ grade }}</option>
                }
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="mt-6 flex w-full justify-center items-center flex-col">
    <app-alumnos [idGrade]="grade"></app-alumnos>
  </div>
</main>
